@font-face{
	
	font-family:basmaf;
	src:url(fonts/Oswald-Bold.ttf);
	
	
	
	
	
	
}

*{
	
	padding:0px;
	margin:0px;
    box-sizing: border-box;
}
html,body{
	
			width:100%;
			height:100%;
	
	
}

nav{
	
			height:auto;
			background-color:black;
			color:white;
            
}

nav a{
			display:inline-block;
			padding: 10px;
            color: white;
            font-size: 15px;
	
}
nav a:hover,nav a:active
{              background-color:gray;
                color: black;}
#search{ float: right;}
#headertext{
	
	
	       text-align: center;
			height:auto;
            padding:50px 0px;
			
}
#headertext h1{ font-weight:bold;
	           font-family: basmaf;
    
	 }
#headertext h4{ padding-top: 10px;
    font-size: 15px;
    
	 }
#headertext span{
	background-color:black;
	color:white;
	padding:0px 5px;
}

header{
			height:auto;
			background-color:black;
	       position: relative;
	
	
}
header img{ width: 100%;}
.headerdiv{ position: absolute;
            top: 40%;
            left: 4%;
            color: white;
            font-family: sans-serif;
            font-size: 22px;
            font-weight: bold;

}
.headerdiv h1{ font-size:60px;
padding: 10px 0px;
}
.headerdiv button{ border:none;
                padding: 15px 20px;
                background-color:rgba(232,224,224,0.6);
                color: black;

}
main{     width: 100%;
			height:auto;
            display: inline-block;
	       overflow: auto;
	       background-color: #f1f1f1;
           padding: 25px;
    
}
main section{ width: 65%;
    height: auto;
 background-color: #f1f1f1;
   padding: 10px 20px;
display: block;
    float: left;
    clear: both;
    



}
article {

    padding: 50px 20px;
    
    
}
.article{
    text-align: center;
    background-color: white;
}
article h2{
    font-size:22px;
    font-family:basmaf;
    font-weight:bold;
    padding: 10px 0px;
    
}
article h4{
     font-weight:bold;
    font-size:18px;
    padding: 10px 0px;
    padding-bottom: 20px;

}
article span{
    color: gray;
    
    
}
article img{
    width: 100%;
   vertical-align: middle;
    
    
}
article .p1{
    padding: 20px 0px;
    direction: ltr;
        text-align: justify;
    color: black;
    
}
article  .spanp{
    color: black;
    font-weight: bold;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 1.5;
}
article .btn1{
    color: black;
    background-color: white;
    border: none;
    padding: 15px;
    float: left;
    font-size: 20px;
    text-align: center;
    
}
article .btn1:hover{
    background-color: lightgray;
    
}
article .btn2{
    color: white;
    background-color: black;
    border: none ;
     padding:  8px 16px;
    text-align: center;
    font-weight: bold;
    float: right;
    display: inline-block;
    
}

article .btn2:hover{
    background-color: lightgray;
     border: 2px solid lightblue ;
}
article .btnp{
    background-color: white;
    color: black;
    float: right;
    padding: 2px 9px;
    margin-left: 8px;
    text-align: center;
}
main aside{ width: 35%;
    height: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    float: right;
    display: block;
}
.art2{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: black;
    color: white;
   
    
}
.art2 img{
    width: 100%
    top: 0%;
    padding: 0px;
     box-sizing: inherit;
    
    
}
.art2 h4{
    padding-left: 20px;
    
    
}
.art2 p{
     text-align: justify;
    padding: 8px 20px 10px 20px;
    line-height: 1.5;
    
}
 .hlist{
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 20px;
     padding: 20px;
   
     font-size: 20px;
     text-align: left;
    
}
ul{
    list-style-type: none;
    
    
}
aside li{
    width: 100%;
     background: white;
    margin: 1px 0px;
    display:inline-block; 
   
}
.img{ 
    width: 70px;
    height: 70px;
    vertical-align: middle;
    padding: 13px;
    float: left;
    
}
aside li:hover{
    background: lightgray;
    
}
img:hover{
     background: lightgray;
}
.imghlist{
    
float: left;  
    padding: 15px;
}

.addiv{
    
    background-color: #f1f1f1;
   text-align: center;
    padding-top: 75px;
    color: black;
    border: 15px solid white;
    height: 200px;
    font-size: 20px;
    
    
}
#idwords{
    background-color: white;
    color: black;
    padding: 10px;
    line-height: 2;
    
    
}
  
#fashion{
    background-color: black;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 15px;
    display: inline-block;
       font-size: 18px;
}
.words{
    background-color: lightgrey;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;    
    margin-bottom: 15px;
    display: inline-block;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    
}
#headimg{
    background-color: #fff;
    display: block;
    clear: both;
    width: 100%;
}
#inspid{
    background-color: white;
  
    
    
}
.limg{
   width:50%;
    padding:5px 8px;
    display: block;
    float: left;
    box-sizing: border-box;
    background-color: white;
    line-height: 1.5;
    
}
.limg img{
    vertical-align: middle;
    width: 100%;
    padding: 10px 0px;
}
.rimg{
   
    width:50%;
    padding:5px 8px;
    display: block;
    float: right;
    box-sizing: border-box;
     background-color: white;
    line-height: 1.5;
    
}
.rimg img{
    vertical-align: middle;
    width: 100%;
    padding: 10px 0px;
    
}


.linkat{
    background-color: white;
    color: black;
    padding: 18px;
    font-size: 20px;
    letter-spacing: 4px;
    
    
}
.linkat p{
    text-align: justify;
    letter-spacing: normal;
    padding-bottom: 10px;
    font-size: 18px;
    
    
}
.linkat input{
   
    padding: 10px;
    font-size: 15px;
    border: 2px soild gray;
    clear: both;
    display: block;
    width: 100%;
}
.linkat button{
   margin: 20px 0px;
    padding: 10px;
    font-size: 18px;
      border: none;
    clear: both;
    display: block;
    text-align: center;
    color: white;
    background-color: #f44336;
    width: 100%;
}
 .linkat .d1{
    background-color: white;
     width: 60%;
     display: none;
     position: fixed;
     padding: 10px;
     top: 40%;
     left: 15%;
    
    
}
#b2{
    
    background-color: white;
    color: black;
    width: auto;
    text-align: justify;
    float: right;
}

footer{
	
	       padding: 20px;
			height:auto;
			background-color:#616161;
}
footer button{ padding: 15px 20px;
    color: white;
    background-color: black;
    border: none;
    
    font-size: 18px;
    
}
footer button:hover{ color: black; 
    background-color: #ccc;


}
footer p{
    padding: 20px;
    color: white;
    
    
}
footer p a{ color: white;


}
footer p span{ float: right;}

@media screen and (max-width: 700px) {
    main{    
			width:100%;
            display: block;
	    }
    main section
    { 
        width: 100%;
        display: block;
        float: left;
           
    }
    main aside{ 
        width: 100%;
        float: left;
        display: block;
        height: auto;
    }
     .linkat .d1{
    background-color: white;
     width: 80%;
     display: none;
     position: fixed;
     padding: 10px;
     top: 10%;
     left: 10%;
    
    
}
}







